html, body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: auto;
	overflow-x: hidden;
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
}

/** MAIN **/

#main {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	height: auto;
	background-color: #fcfcfc;
}

#main #main-content {
	position: relative;
	padding: 50px 0 50px 0;
	width: 100vw;
	min-height: 100%;
	height: auto;
}

#main #avatar {
	margin: 0 auto;
	background-image: url('img/me.png');
    background-size: cover;
    background-position: top center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

#main #main-content h1 {
	margin: 20px 0 20px 0;
	padding: 0;
	font-family: Lato;
    font-weight: 400;
	font-size: 2.5em;
	color: #4e4e4e; 
	text-align: center;
}

#main #main-content h2 {
	font-family: Ubuntu;
	padding: auto auto 0 auto;
	margin: auto auto 0 auto;
	font-size: 20px;
	font-weight: 200;
	font-size: 1.25em;
	color: #777777; 
	text-align: center;
}

#main #main-content h3 {
	font-family: Ubuntu;
	padding: 0 auto auto auto;
	margin: 0 auto auto auto;
	font-size: 20px;
	font-weight: 200;
	font-size: 1em;
	color: #777777; 
	text-align: center;
}

#main #main-content #main-content-social_media {
	margin: 20px 0 20px 0;
	padding: 0;
	width: auto;
	height: auto;
	float: center;
	text-align: center;
}

#main #main-content #main-content-social_media a {
	text-decoration: none;
}

#main #main-content #main-content-social_media img {
	display: inline;
	width: 20px;
  	height: 20px;
  	margin: 0 2.5px;
}



#main #main-content hr { 
    display: block;
    margin: 0 auto 0 auto;
	width: 50%;
	float: center;
	border-color: #4e4e4e;
    border-style: solid;
    border-width: 1px;
}


/*
@media all and (min-width: 630px) {
	
}
@media all and (max-width: 629px) {
	
}
*/